<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asia.paint.android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 银联支付插件相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />
    <!-- logcollector相关权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.asia.paint.biz.AsiaPaintApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:icon">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
                  <activity
                  android:name=".biz.mine.SELLER.train.TrainActivity">
                  <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                      <category android:name="android.intent.category.LAUNCHER" />
                  </intent-filter>
              </activity>
        -->
        <activity
            android:name="com.asia.paint.biz.splash.SplashActivity"
            Android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.asia.paint.biz.login.LoginActivity" />
        <activity android:name="com.asia.paint.biz.login.forget.ForgetPasswordActivity" />
        <activity android:name="com.asia.paint.biz.login.reset.ResetPasswordActivity" />
        <activity android:name="com.asia.paint.biz.shop.detail.GoodsDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.SettingsActivity" />
        <activity android:name="com.asia.paint.biz.mine.coupon.CouponActivity" />
        <activity android:name="com.asia.paint.biz.order.checkout.OrderCheckoutActivity" />
        <activity android:name="com.asia.paint.biz.mine.money.MoneyActivity" />
        <activity android:name="com.asia.paint.biz.mine.money.detail.MoneyDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.favorites.FavoritesActivity" />
        <activity android:name="com.asia.paint.biz.mine.money.recharge.RechargeActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.auth.ApplyResellActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.auth.AuthRealNameActivity" />
        <activity android:name="com.asia.paint.biz.shop.TestActivity" />
        <activity android:name="com.asia.paint.biz.other.PhotoActivity" />
        <activity android:name="com.asia.paint.biz.comment.CommentActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.about.AboutUsActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.address.AddressActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.address.EditAddressActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.feedback.FeedbackActivity" />
        <activity android:name="com.asia.paint.biz.order.mine.OrderMineActivity" />
        <activity android:name="com.asia.paint.biz.comment.add.AddCommentActivity" />
        <activity
            android:name="com.asia.paint.base.widgets.selectimage.MatisseActivity"
            Android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.asia.paint.biz.mine.user.EditUserActivity" />
        <activity android:name="com.asia.paint.biz.mine.message.MessageActivity" />
        <activity android:name="com.asia.paint.biz.pay.password.SetPayPwdActivity" />
        <activity
            android:name="com.asia.paint.biz.main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.asia.paint.biz.mine.receipt.ReceiptActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.asia.paint.biz.mine.settings.password.NewPwdActivity" />
        <activity android:name="com.asia.paint.biz.order.mine.aftersale.order.OrderAfterSaleActivity" />
        <activity android:name="com.asia.paint.biz.order.mine.detail.OrderDetailActivity" />
        <activity android:name="com.asia.paint.biz.find.post.detail.PostDetailActivity" />
        <activity android:name="com.asia.paint.biz.find.post.publish.PublishPostActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.task.TaskCenterActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.recommend.RecommendCodeActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.train.detail.TrainDetailActivity" />
        <activity
            android:name="com.asia.paint.biz.mine.seller.monthly.MonthlyActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.asia.paint.biz.mine.seller.meeting.MeetingActivity" />
        <activity
            android:name="com.asia.paint.biz.mine.seller.staff.StaffActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.asia.paint.biz.mine.seller.train.TrainActivity" />
        <activity android:name="com.asia.paint.biz.order.mine.aftersale.apply.SelectAfterSaleTypeActivity" />
        <activity
            android:name="com.asia.paint.biz.order.mine.aftersale.apply.ApplyAfterSaleActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.asia.paint.biz.order.mine.aftersale.detail.AfterSaleDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.staff.detail.StaffDetailActivity" />
        <activity
            android:name="com.asia.paint.biz.mine.seller.meeting.hold.HoldMeetingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.asia.paint.biz.mine.seller.meeting.member.MeetingMemberActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name="com.asia.paint.biz.mine.seller.meeting.detail.MeetingDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.goals.SellerGoalsActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.monthly.detail.MonthlyDetailActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name="com.asia.paint.biz.login.bind.BindPhoneActivity" />
        <activity android:name="com.asia.paint.biz.mine.coupon.CouponCenterActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.score.ScoreActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.score.detail.ScoreDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.score.record.ScoreRecordActivity" />
        <activity
            android:name="com.asia.paint.biz.mine.service.CustomerServiceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.asia.paint.biz.mine.settings.bind.BindNewPhoneActivity" />
        <activity android:name="com.asia.paint.biz.mine.service.history.CustomerServiceHistoryActivity" />
        <activity
            android:name="com.asia.paint.biz.mine.seller.score.cash.CashActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.asia.paint.biz.mine.settings.account.BindCashAccountActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.account.index.AccountIndexActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.score.record.detail.CashRecordDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.settings.unsubscribe.UnsubscribeAccountActivity" />
        <activity android:name="com.asia.paint.biz.mine.money.DistributionTasksActivity" />
        <activity android:name="com.asia.paint.biz.order.group.GroupDetailActivity" />
        <activity android:name="com.asia.paint.biz.order.mine.MyPinTuanActivity" />
        <activity android:name="com.asia.paint.biz.shop.index.GroupAndFlashActivity" />
        <activity android:name="com.asia.paint.biz.decoration.DecorationDetailActivity" />
        <activity android:name="com.asia.paint.biz.mine.seller.train.detail.PlayVideoActivity" />
        <activity android:name="com.asia.paint.biz.pay.password.GetPayPwdCodeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.asia.paint.android.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name="com.chinapay.mobilepayment.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.chinapay.mobilepayment.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- <uses-library android:name="org.simalliance.openmobileapi" android:required="false"/> -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.asia.paint.biz.mine.seller.goals.WebActivity"></activity>
    </application>

</manifest>